@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;900");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.meishi {
  overflow: hidden;
  background-color: #fff;
  font-family: "M PLUS Rounded 1c";
  font-weight: 700;
}

.meishi main {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
}

.meishi main .icon-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4rem;
}
.meishi main .icon-wrapper .icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.meishi main .info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4rem;
}
.meishi main .info .name-wrapper {
  text-align: center;
  font-size: 5rem;
}
.meishi main .info .team-wrapper {
  text-align: center;
  font-size: 3rem;
}

.meishi footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  text-align: center;
  background-color: #3cceff;
}

.meishi footer img {
  height: 100%;
}
